  <link rel="icon" href="logo.jpg" />
    <link rel="shortcut" href="logo.jpg" />
    <link rel="apple-touch-icon" href="logo.jpg" />

    <title> Coder Shiyar </title>
    <meta name="description" content="شيار هو مهندس برمجيات - Coder Shiyar is a online teacher"/>
    <meta charset="utf-8"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="coder shiyar , learn html , learn java"/>
    <meta name="author" content="Coder Shiyar"/>
    
    <!--
    العناصر الإجبارية لاجل ظهور موقعك في المحركات البحث ومواقع تواصل اجتماعي 
    1: <title> </title>                   لتحديد العنوان الصفحة
    2: <meta name="description">           لوصف الصفحة 
    3: <meta charset="utf-8"/>             لجعل موقع يدعم جميع اشكال الخاصة واحرف
    لجعل موقع يظهر بشكل صحيح في الهواتف
    4: <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    عناصر اختيارية قد يساعد في تحسين ظهور موقعك في المحركات البحث
    5: <meta name="keywords">
    6: <meta name="author">


	-----------	11 ----------------------------------------------------------------------
	
	
        <meta property="og:title" content="Coder Shiyar - استاذ برمجيات" />
        <meta property="og:description" content="شيار يكون استاذ ومهندس برمجيات" />
        <meta property="og:image" content="https://codershiyar.com/img/logo.jpg" />
		
	---------end 11 ------------------------------------------------------------------------
		
        <meta property="og:image:width" content="1200" />  
        <meta property="og:image:height" content="630"/>
        <meta property="og:type" content="website" /> 
	
	
	-------12-------------------------------------------------------------------------------
	
	<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Coder Shiyar ">
    <meta name="twitter:description" content="Coder Shiyar is a online teacher -   كودر شيار يكون استاذ ومهندس البرمجيات">
    <meta name="twitter:image" content="">
	
	
	-----end 12 -----------------------------------------------------------------------------
	
	
					يجب عليك أن تقوم بالأجوبة بناء على ما تعلمته أثناء دورة من كودر شيار فقط , اجوبة من جوجل ومنصات أخرى مرفوضة
																	
																	* لايسمح لك بالأستخدام جوجل او وسائل أخرى للأجوبة على أسئلة
																	
																	
						* . إن قمت بذلك سوف ترسب في الأختبار, وتنتظر 5 أيام لكي تتمكن من محاولة مرة أخرى , قيام بالأختبار من جديد
						
						
		* قم بالمراجعة أجوبة قبل أرسال , ثم قم بإرسالها , لانك لن تتمكن من إرسال طلب أخر قبل مراجعة طلبك الحالي من قبل المدرسة.



													* ستحصل على النتيجة خلال 3 اسابيع , عبر إيميلك او في حسابك في اكاديمية شيار



							بعد ارسال طلبك إن لم تجد في الأعلى تنبيه ان طلبك تم ارسال بنجاح , فهذا يعني طلبك لم يتم ارساله بعد 
	
	
	
	
	
	https://yujio98.github.io/project-3/
	
	
	https://www.youtube.com/watch?v=ZW0xQk2czhE 
	https://www.youtube.com/watch?v=R1FGBCqj_lE&t=0s
	https://youtu.be/_Dw3yqVx23Y
	http://bit.ly/32nUFbE
	http://bit.ly/38TY2JH
	
	
	
	https://www.youtube.com/watch?v=sSBxJOMKl-s&t=4s 
	https://www.youtube.com/watch?v=7ngnZTkhzTE
	
	
	
	
	
	
	
	
	
	
	